html, body {
    margin: 0;
    padding: 0;
}

body {
  background-color: black;
}

.divs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.left-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1%;
}

.right-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1%;
}

.gameTittle {
  color: white;
  background-color: darkgreen;
  border: 6px solid purple;
  border-radius: 6px;
  margin: 1%;
  font-family: 'Slackey', cursive;
  width: 300px;
  text-align: center;
}

.gameTittle > h1 {
  position: relative;
}

.stateOfGame {
  color: white;
  background-color: darkgreen;
  border: 6px solid purple;
  border-radius: 6px;
  font-family: 'Slackey', cursive;
  width: 300px;
  margin: 1%;
}

.gameGrid {
  background-color: darkgreen;
  color: white;
  display: grid;
  font-family: 'Slackey', cursive;
  grid-template-columns: auto auto auto;
  margin: 1%;
  width: 100%;
}

.gameGrid>div {
  border: 6px solid purple;
  font-family: 'Slackey', cursive;
  font-weight: bold;
  font-size: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.gameGrid div>p {
  /* */
}

.gameGrid>div:hover {
  background-color: purple;
  border: 3px solid darkgreen;
  cursor: pointer;
}

.players {
  border: 6px solid purple;
  border-radius: 6px;
  background-color: purple;
  color: white;
  font-family: 'Slackey', cursive;
  width: 300px;
  display: flex;
  flex-direction: column;
}

.players > div.playerNameX {
  background-color: darkgreen;
}

.players > div.playerNameO {
  background-color: darkgreen;
}

.playAgainButton {
  display: flex;
  font-family: 'Slackey', cursive;
  border: 6px solid purple;
  border-radius: 6px;
  background-color: darkgreen;
  color: white;
  margin-top: 12px;
  padding: 12px 21px
}

.playAgainButton:hover {
  background-color: purple;
  cursor: pointer;
}

@media (min-width: 500px) {
  .gameGrid {
    width: 500px;
    height: 500px;
    border: 6px solid purple;
    border-radius: 12px;
  }

  .gameGrid>div {
    background-color: darkgreen;
  }
}
