html, body {
    margin: 0;
    padding: 0;
}

body {
  background-color: black;
}

.divs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* Needed in case we add the other div thats commented out in the index.html
.left-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1%;
}
*/

.right-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1%;
}

.gameTittle {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: darkgreen;
  border: 9px solid purple;
  border-radius: 12px;
  margin: 1%;
  padding: 1%;
  font-family: 'Slackey', cursive;
  font-size: 1.2em;
  width: 450px;
}

.gameTittle > h1 {
  position: relative;
}

.stateOfGame {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: darkgreen;
  border: 6px solid purple;
  border-radius: 12px;
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  font-family: 'Slackey', cursive;
  width: 300px;
  margin: 1% 1% 0 1%;
  padding: 1%;
}

.gameGrid {
  background-color: darkgreen;
  color: white;
  display: grid;
  font-family: 'Slackey', cursive;
  grid-template-columns: auto auto auto;
  width: 100%;
  height: 100%;
  margin: 0% 1% 1% 1%;
  padding: 10px;
  border: 6px solid purple;
  border-radius: 12px;
}

.gameGrid>div {
  font-family: 'Slackey', cursive;
  font-weight: bold;
  font-size: 2.6em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkgreen;
  min-width: 150px;
  min-height: 150px;
  border: 9px solid purple;
}

.gameGrid>div:hover {
  background-color: purple;
  border: 9px solid darkgreen;
  cursor: pointer;
}

/*
.players {
  border: 9px solid purple;
  border-radius: 12px;
  background-color: purple;
  color: white;
  font-family: 'Slackey', cursive;
  width: 300px;
  display: flex;
  flex-direction: column;
  margin: 1%;
  padding: 1%;
}

.players > div.playerNameX {
  background-color: darkgreen;
  border-radius: 12px;
  margin: 1%;
  padding: 1%;
}

.players > div.playerNameO {
  background-color: darkgreen;
  border-radius: 12px;
  margin: 1%;
  padding: 1%;
}
*/

.playAgainButton {
  display: flex;
  font-family: 'Slackey', cursive;
  font-size: 1.2em;
  border: 6px solid purple;
  border-radius: 6px;
  background-color: darkgreen;
  color: white;
  margin: 1%;
  padding: 10px 15px
}

.playAgainButton:hover {
  background-color: purple;
  cursor: pointer;
}

@media (max-width: 500px) {
  .gameGrid {
    width: 500px;
    height: 500px;
    border: 6px solid purple;
    border-radius: 12px;
  }

  .gameGrid>div {
    background-color: darkgreen;
    width: 90%;
    height: 90%;
    border: 9px solid purple;
  }
}
